hr{
    margin : 0;
}
.add-btn{
    border-color: #222222 !important;
    color: #222222 !important;
    font-weight: 600;
}
.add-btn:hover{
    outline-color: #222222;
    color: #222222 !important;
    background-color: transparent;
}
.secondary-text{
    font-size: 14px;
    color: #717171;
}
.primary-btn{
    background: #008392;
    color: #fff;
}
.primary-btn:hover{
    background: #008392;
    color: #fff;
    outline: 0;
}
.primary-btn:focus{
    background: #008392;
    color: #fff;
    outline: 0;
}
.profile-div{
    max-height: 174px;
    min-height: 174px;
    min-width: 174px;
    align-items: center;
}
.exp-section{
    max-width: 650px ;
}
.profile-text-div{
    color: #717171;
    background-color: #fff;
    border: 1px solid #EBEBEB;
    border-radius: 5px;  
}
h6{
    font-size: 14px;
    font-weight: 600;
}
h5{
    font-size: 16px;
    font-weight: 600;
    color: #2b2b2b;
}
.tab-element{
    background-color: transparent;
}
.test-circle {
  width: 350px;
    height: 320px;
}



